<!doctype html>

<html lang="en" ng-app="resume">
<head>
  <meta charset="utf-8">

  <title>Juan Carlos Jiménez Jamett</title>
  <meta name="description" content="Juan Carlos Jimenez Jamett Resume">
  <meta name="author" content="jcjimenez.me">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/main.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style>
  	@media print {
  		a[href]:after{
  			content:none
  		}
  	}
  </style>

</head>

<body>
	<div class="container main-container" ng-controller="Controller">

		<div class="row resume-header">
			<img class="resume-photo img-circle" ng-src="{{resume.basics.picture}}">
			<h1>{{resume.basics.name.toUpperCase()}}</h1>
			<h2>{{resume.basics.label}}</h2>
			<div class="basic-info">
				<div class="basic-info-item pull-left"><span class="glyphicon glyphicon-envelope"></span> {{resume.basics.email}}</div>
				<div class="basic-info-item pull-left"><span class="glyphicon glyphicon-phone"></span> {{resume.basics.phone}}</div>
				<div class="basic-info-item pull-left">
					<i class="fa fa-linkedin"></i> 
					<!-- {{resume.basics.profiles[0].network}}: --> <a href="{{resume.basics.profiles[0].url}}">{{resume.basics.profiles[0].username}}</a>
				</div>
				<div class="basic-info-item pull-left">
					<span class="fa fa-github"></span>  
					<!-- {{resume.basics.profiles[1].network}}: --> <a href="{{resume.basics.profiles[1].url}}">{{resume.basics.profiles[1].username}}</a>
				</div>
				<div class="clearfix"></div>
			</div>
			</ul>
		</div>

		<div class="row resume-content">
			<div class="right-col col-lg-8 pull-right">
				<div class="summary">
					<h2>{{}}</h2>
					<p>{{resume.basics.summary}}</p>
				</div>
				<hr/>
				<div class="work">
					<h2> EXPERIENCIA LABORAL </h2>
					<div class="work-item" ng-repeat="job in resume.work">
						<h4>{{job.company}} <a href="{{job.website}}" target="_blank"><span class="fa fa-link"></span> {{job.website.replace('http://www.','')}} </a></h4>
						<h5 class="range font-archive">{{job.startDate}} <span class="fa fa-arrow-right"></span> {{job.endDate || "Hoy"}}</h5>
						<h4 class="reverse">{{job.position}}</h4>
						<p>{{job.summary}}</p>
						<ul>
							<li><strong class="reverse rounded">Higlights</strong></li>
							<li ng-repeat="highlight in job.highlights"><span class="glyphicon glyphicon-ok"></span> {{highlight}}</li>
						</ul>
					</div>
				</div>
				<div class="personal">
				</div>
			</div>

			<div class="left-col col-lg-4 pull-left">
				<div class="skills">
					<h3><span  class="glyphicon glyphicon-th-list"></span> HABILIDADES</h3>
					<ul>
						<li ng-repeat="item in resume.skills">
							<h4>{{item.name}}</h4>
							<div class="progress">
							  <div class="progress-bar" role="progressbar" aria-valuenow="{{item.level}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.level}}%;">
							    <span class="sr-only">{{item.level}}% Complete</span>
							  </div>
							</div>
							<ul class="tag-list">
								<li class="pull-left" ng-repeat="skill in item.keywords" ng-bind="skill"></li>
							</ul>
							<div class="clearfix"></div>
						</li>
					</ul>
				</div>
				<div class="education">
					<h3><span class="glyphicon glyphicon-education"></span> ESTUDIOS</h3>
					<ul>
						<li ng-repeat="item in resume.education">
							<h4>{{item.area.toUpperCase()}}</h4>
							<span class="reverse"><span class="glyphicon glyphicon-book"></span> {{item.institution}}</span>
						</li>
					</ul>
				</div>
				<div class="language">
					<h3><span class="glyphicon glyphicon-globe"></span> IDIOMA</h3>
					<ul>
						<li ng-repeat="item in resume.languages">
							<span class="language-name">{{item.language}}</span>
							<span class="language-fluency reverse">{{item.fluency}}</span>
						</li>
					</ul>
				</div>
				<div class="interests">
					<h3><span class="fa fa-lightbulb-o"></span> INTERESES</h3>
					<ul class="tag-list">
						<li ng-repeat="int in resume.interests[0].keywords" class="tag pull-left">
							{{int}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row resume-footer hidden-print  ">
			<button class="btn btn-outline btn-lg" onclick="window.print()"><span class="fa fa-print"></span> Imprimir</button>
		</div>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
